textarea {
    height: 120px;
    min-height: 100px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
    outline: none;

}

textarea:focus {
    box-shadow: 0 0 5px #ccc;
    outline: none;
}

.noselect {
    width: 90px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;

}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.noselect,
.noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(5px);
    color: white;
    font-weight: bold;
}

.noselect .icon {
    position: absolute;
    transform: translateX(54px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect svg {
    width: 15px;
    fill: #eee;
}

.noselect:hover {
    background: #ff3636;
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(-30px);
}

.noselect:focus {
    outline: none;
}

.noselect:active .icon svg {
    transform: scale(0.8);
}

.c-button {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding: 0.4em 1.3em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.c-button--gooey {
    color: #000;
    text-transform: uppercase;

    border: 4px solid #ffe500;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
}

.c-button--gooey:hover {
    color: #fff;
    background-color: #ffe500;
}



.button {
    position: relative;
    width: 140px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(5px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(103px);
    height: 100%;
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 30px;
    stroke: #fff;
}

.button:hover {
    background: #34974d;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0px);
}

.button:active .button__icon {
    background-color: #2e8644;
}

.button:active {
    border: 1px solid #2e8644;
}

.btn {
    padding: 5px;
    border: 1px solid #34974d;
    margin-top: -16px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #34974d;
    color: white;
}

.form {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px 10px 1px #c2bdbd;

}

.title {
    font-size: 26px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;


}

.signin {
    text-align: center;
}

.signin a {
    color: royalblue;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

form .flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input:valid+span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: royalblue !important;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: rgb(56, 90, 194);
}
.active{
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));
    --tw-gradient-from: #7928ca;
    --tw-gradient-to: rgb(121 40 202 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #ff0080;
    color: white;
}